body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(194, 250, 121);
    font-family: cursive;
}

.form{
    background-color: yellow;
    padding: 20px;
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
    color: rgb(49, 99, 63);
    
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(251, 228, 52);
    color: black;
    background-color: rgb(194, 250, 121);
    box-shadow: -4px -10px -15px rgba(0, 0, 0, 0.3);
}

.input::placeholder{
    color: grey;
    font-family: cursive;
}

.btn{
    background-color: green;
    color: rgb(200, 248, 200);
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: green;
    text-align: right;
}